<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Research", research_path %></li>
						<li><%= link_to "People", people_path %></li>
						<li><%= link_to "Resource", resource_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="center hero-unit">
		<h1>Archaeobotany Laboratary.</h1>
		<h2>This is a homepage for all information and resources in UC Berkeley Archaeobotany Laboratary.</h2>
		<%= link_to "See more images", '#', class: "btn btn-large" %>
	</div>
</header>