<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<%= link_to "McCown Archaeobotany Laboratary", root_path, id:"logo" %>
			<div class="container-fluid">
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Research", research_path %></li>
						<li><%= link_to "People", people_path %></li>
						<li><%= link_to "Resource", resource_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="container-fluid hero-unit">
		<div class="row-fluid">
			<div class="span4">
				<div id="quickAccess">
					<section id="section1">
						<h2>Laboratary reports</h2>
						<p>We have more than 60 reports over more 50 years from all over the globe.</p>
						<%= link_to "Learn more", '#', class: "btn btn-middle btn-primary" %>
					</section>

					<section id="section2">
						<h2>Haikus</h2>
						<p>We write haikus---short Japanese poetries in spare time.</p>
						<%= link_to "Learn more", '#', class: "btn btn-middle btn-primary" %>
					</section>
				</div>
			</div>
			<div class="span8">
				<!-- The right side carousel of pictures.-->
				<div id="myCarousel" class="carousel slide">
  					<ol class="carousel-indicators">
   						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    					<li data-target="#myCarousel" data-slide-to="1"></li>
    					<li data-target="#myCarousel" data-slide-to="2"></li>
  					</ol>
  					<!-- Carousel items -->
  					<div class="carousel-inner">
    					<div class="active item">
    						<%= image_tag "flotation.jpg", alt:"Floatation in the farm" %>
    						<div class="carousel-caption">
    							<h4>Flotation</h4>
    							<p>
    								Flotation scene taken in the wild.
    							</p>
    						</div>
    					</div>
    					<div class="item">
    						<%= image_tag "GroupPic5.JPG", alt:"Group picture in the lab" %>
    						<div class="carousel-caption">
    							<h4>Archaeobotany Lab Group</h4>
    							<p>
    								Archaeobotany lab researchers meeting in the lab.
    							</p>
    						</div>
    					</div>
   	 					<div class="item">
   	 						<%= image_tag "GroupPic9.JPG", alt:"Group picture on campus" %>
   	 						<div class="carousel-caption">
   	 							<h4>Archaeobotany Lab Group</h4>
   	 							<p>
   	 								Taken picture on UC Berkeley beautiful campus.
   	 							</p>
   	 						</div>
   	 					</div>
  					</div>
  					<!-- Carousel nav -->
  					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>

			</div>
		</div>
	</div>
</header>