<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<%= link_to "UC Berkeley McCown Archaeobotany Laboratary", root_path, id:"logo" %>
			<div class="container-fluid">
				<nav class="pull-right">
					<ul class="nav" id="navigation">
						<li class="nav-link <%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
						<!--<li class="divider-vertical"></li>-->
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(people_path) %>"><%= link_to "People", people_path %></li>
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(resource_path) %>"><%= link_to "Resources", resource_path %></li>
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
						<li class="divider-vertical"></li>

						<% if signed_in? %>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Dashboard", current_user %></li>
									<li><%= link_to "Settings", '#' %></li>
									<li class="divider"></li>
									<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
								</ul>
							</li>
						<% else %>
							<li class="nav-link <%= 'active' if current_page?(signin_path) %>"><%= link_to "Sign in", signin_path %></li>
						<% end %>
						
						<li class="divider-vertical"></li>
					</ul>
					<form class="navbar-search">
  						<input type="text" class="search-query" placeholder="Search">
					</form>
				</nav>
			</div>
		</div>
	</div>
</header>