<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<%= link_to "UC Berkeley McCown Archaeobotany Laboratary", root_path, id:"logo" %>
			<div class="container-fluid">
				<nav class="pull-right">
					<ul class="nav" id="navigation">
						<li class="nav-link <%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(research_path) %>"><%= link_to "Research", research_path %></li>
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(people_path) %>"><%= link_to "People", people_path %></li>
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(resource_path) %>"><%= link_to "Resource", resource_path %></li>
						<li class="divider-vertical"></li>
						<li class="nav-link <%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
						<li class="divider-vertical"></li>
					</ul>
					<form class="navbar-search">
  						<input type="text" class="search-query" placeholder="Search">
					</form>
				</nav>
			</div>
		</div>
	</div>

	<div class="container-fluid hero-unit">
		<div class="row-fluid">
			<div class="span5">
				<div id="quickAccess">
					<section id="section1">
						<h3>Current Research</h3>
						<p>The UC Berkeley McCown Archaeobotany laboratary conducts archaeological and archaeobotanical research spanning three continents and diverse research questions.</p>
						<%= link_to "Learn more", research_path, class: "btn btn-middle btn-primary" %>
					</section>

					<section id="section2">
						<h3>People</h3>
						<p>See the faculty, graduate students, undergraduates, and visiting scholars who are currently in the laboratary.</p>
						<%= link_to "Learn more", people_path, class: "btn btn-middle btn-primary" %>
					</section>
				</div>
			</div>
			<div class="span7">
				<!-- The right side carousel of pictures.-->
				<div id="myCarousel" class="carousel slide">
  					<!-- Carousel items -->
  					<div class="carousel-inner">
    					<div class="active item">
    						<%= image_tag "flotation.jpg", alt:"Floatation in the farm" %>
    						<div class="carousel-caption">
    							<h4>Flotation</h4>
    							<p>
    								Flotation scene taken in the wild.
    							</p>
    						</div>
    					</div>
    					<div class="item">
    						<%= image_tag "GroupPic5.JPG", alt:"Group picture in the lab" %>
    						<div class="carousel-caption">
    							<h4>Archaeobotany Lab Group</h4>
    							<p>
    								Archaeobotany lab researchers meeting in the lab.
    							</p>
    						</div>
    					</div>
   	 					<div class="item">
   	 						<%= image_tag "GroupPic9.JPG", alt:"Group picture on campus" %>
   	 						<div class="carousel-caption">
   	 							<h4>Archaeobotany Lab Group</h4>
   	 							<p>
   	 								Taken picture on UC Berkeley beautiful campus.
   	 							</p>
   	 						</div>
   	 					</div>
  					</div>
  					<!-- Carousel nav -->
  					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>

			</div>
		</div>
	</div>
</header>

<!-- JavaScropt code to make the carousel slide. -->
<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>